body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1, h2 {
    color: #333;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

.form-container {
    background-color: white;
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    display: none;
}

input, textarea {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#lista-recetas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.receta {
    background-color: white;
    padding: 15px;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    text-align: left;
}

.receta h3 {
    color: #4CAF50;
    margin-bottom: 10px;
}

ul, ol {
    padding-left: 20px;
}
